body {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
}
html {
  scroll-behavior: smooth;
}
main {
  padding-left: 7%;
  padding-right: 7%;
}

h3 {
  font-size: 2em;
  font-weight: 600;
  padding: 1em;
}
h4 {
  font-size: 2em;
  font-weight: 400;
  padding: 1em;
}

.container,
.nav,
footer,
.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin-bottom: 5em;
  padding: 0 1em;
}

h1,
.top-right {
  font-size: 1.5em;
  font-weight: lighter;
  padding: 1em;
}

nav a:hover {
  text-decoration: solid rgba(237, 237, 212, 0.872) line-through;
}

.space {
  display: flex;
  text-align: center;
  align-items: center;
}

#jumping-heading {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

#jumping-heading.clicked {
  transform: translateY(-15px);
}

.about {
  font-size: 1.5em;
  font-weight: 330;
  padding: 1em;
  margin-bottom: 3em;
}

.about p {
  background-color: rgba(251, 251, 251, 0.1);
}

.portfolio {
  border-top: 1px solid black;
}

strong {
  font-weight: 400;
  color: rgb(200, 200, 166);
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

footer {
  margin-top: 10em;
  background-color: rgba(237, 237, 212, 0.581);
}

.contact-info {
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding-right: 4em;
}

.logo {
  position: relative;
  padding: 2em;
}

.logo img {
  width: auto;
  height: 7vw;
}

h6 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 2em;
}

.footer-text {
  font-size: 1.5em;
  font-weight: lighter;
}

li {
  list-style-type: none;
}

.projects {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.project-item {
  width: calc(50% - 40px);
  margin-bottom: 1em;
  text-align: center;
}

.project-item img {
  max-width: 100%;
  height: 20vw;
}

.project-info h5 {
  margin: 0;
  font-size: 1.6em;
  font-weight: 300;
  padding: 0.5em;
}

@media screen and (max-width: 600px) {
  main {
    padding-left: 5%;
    padding-right: 5%;
  }

  h1,
  h3,
  h4,
  .top-right,
  h6,
  .footer-text,
  .project-info h5,
  .about {
    font-size: 1em;
  }

  .container {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .top-right {
    margin-right: 2vw;
  }

  .project-item {
    width: 100%;
    height: auto;
  }

  .logo img {
    width: 70%;
    height: auto;
  }

  .contact-info {
    padding-right: 2em;
  }
}
